@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}


body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: white;
}

.no-scroll {
  overflow: hidden;
}


@theme {
  --breakpoint-xs: 30rem;
}