@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  height: auto;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: white;
}

.no-scroll {
  overflow: hidden;
}

@theme {
  --breakpoint-xs: 30rem;
}